h1  {
    text-align: center;
}

.nav {
    width: 600px;
    display: flex;
    margin: 0 auto;
}

.nav a {
    flex: 1;
    text-align: center;
    margin: 0 10px 0 10px;
}

.nav form input[type=submit]{
    flex: 1;
    margin: 0 10px 0 10px;
}

.container {
    width: 800px;
    margin: 10px auto;
}

.container table {
    width: 100%;
}
